<div class="header-container">
  <div class="breadcrumbs">
    <span>AraKattalai</span> / <span>Approvals</span>
  </div>
  <div class="actions">
    <button title="Add"><img src="assets/icons/add-icon.png" alt="Add" class="header-icon" /></button>
    <button title="Notifications"><img src="assets/icons/notification-icon.png" alt="Notifications" class="header-icon" /></button>
    <button title="Settings"><img src="assets/icons/settings-icon.png" alt="Settings" class="header-icon" /></button>
    <button title="Help"><img src="assets/icons/help-icon.png" alt="Help" class="header-icon" /></button>
    <div class="user">
      <img src="https://i.pravatar.cc/40?u=rohithsai" alt="avatar" />
      <span>Aiswarya Ganesan</span>
    </div>
  </div>
</div>
