.profile-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 1rem;
  text-align: left;

  div {
    strong {
      display: block;
      font-size: 16px;
    }

    div {
      font-size: 12px;
      color: #555;
    }
  }
}
