<div class="profile-container">
  <img class="profile-image" src="assets/profile_picture.png" alt="Profile Picture" />
  <div class="info-grid">
    <div class="left-column">
      <div class="info-item">
        <strong>Aiswarya Ganesan</strong>
        <span>Name</span>
      </div>
      <div class="info-item">
        <strong>Professional</strong>
        <span>Designation</span>
      </div>
      <div class="info-item">
        <strong>100000</strong>
        <span>Annual Contribution (For Current FY)</span>
      </div>
      <div class="info-item">
        <strong>20000</strong>
        <span>Balance Eligible Referral Amount</span>
      </div>
    </div>
    <div class="right-column">
      <div class="info-item">
        <strong>50</strong>
        <span>AID</span>
      </div>
      <div class="info-item">
        <strong>Srinivasan Subbiah</strong>
        <span>Direct Manager</span>
      </div>
      <div class="info-item">
        <strong>200000</strong>
        <span>Annual Eligible Referral Amount</span>
      </div>
      <div class="info-item">
        <strong>0</strong>
        <span>My Referrals</span>
      </div>
    </div>
  </div>
</div>
