
.dashboard-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0rem;
}

.left-section {
  flex: 1;
}

.right-section {
  margin-left: -350px;
  flex: 1;
  row-gap: 0;
  flex-direction: column;
}

