.dashboard-content {
  margin-left: 20px;
  margin-right: 20px;
  justify-items: auto;
  display: flex;
  gap: 30px;
  margin-top: 32px;
}

.left-section {
  flex: 1;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 350px;
}


.tab-navigation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #e1e5e9;
  margin-bottom: 40px;
  position: relative;
}

.tab-item {
  flex: 1 1 0;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: none;
  color: #6c757d;
  text-decoration: none;
  position: relative;
  transition: color 0.2s;

  &:hover:not(.active) {
    color: #495057;
    background-color: #f8f9fa;
  }

  &.active {
    color: #ee4961;
    font-weight: 500;
  }

  &.active::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 3px;
    background: #ee4961;
    border-radius: 2px;
    position: absolute;
    left: 20%;
    bottom: -1px;
  }
}

.dashboard-content {
  display: flex;
  flex-direction: column;

  gap: 40px; // Space between charts
}

.dashboard-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 400px;
  gap: 40px;
  margin-top: 32px;
}

.left-panel {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center-panel {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// .dashboard-chart-wrapper {
//   width: 350px;
//   height: 250px;
//   margin: 40px auto 60px auto; // Top, right, bottom, left
// }

